html,
body {
  background-color: #fff;
  height: 100%;
}

h1, h2, h3, h4, p {
  font-family: 'Montserrat' !important;
}

p {
  color: #545454
}

@media (min-width: 576px) and (max-width: 992px) {
  .compact {
    padding-left: 10em;
    padding-right: 10em;
  }
}

@media (min-width: 992px) {
  .compact {
    padding-left: 15em;
    padding-right: 15em;
  }
}

@media (max-width: 576px) {
  .compact {
    padding-left: 1em;
    padding-right: 1em;
  }
}
