<footer class="bg-light-green">
  <div class="container text-center">
      <div class="row align-items-center">
        <div class="col-12 mt-4 mb-3">
          <div class="d-inline-block mr-1">
            <a href="https://github.com/sooyang" class="social-icon-jump-x4 circle" target="_blank">
              <div>
                <i class="fab fa-github-alt fa-2x light-intense-green"></i>
              </div>
            </a>
          </div>
          <div class="d-inline-block ml-1">
            <a href="https://my.linkedin.com/in/sooyangtan" class="social-icon-jump-x4 circle" target="_blank">
              <div>
                <i class="fab fa-linkedin-in fa-2x light-intense-green"></i>
              </div>
            </a>
          </div>
          <p class="mt-1">2018 &copy; SOO YANG, TAN</p>
        </div>
      </div>
  </div>
</footer>
