<nav class="navbar navbar-expand-lg navbar-light bg-light-green nav-top nav-horizontal">
  <a class="navbar-brand gaegu medium-green" href="/">SY</a>
  <button class="navbar-toggler no-border" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars medium-green"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link dark-green" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link dark-green" href="/blog/">Blog</a>
    </div>
  </div>
</nav>
