<section class="compact bg-light-green h-60">
  <%= partial "partials/navbar" %>
  
  <div class="container h-80">
    <div class="row align-items-center h-80">
      <div class="col-12 text-center">
        <h1 class="gaegu medium-green">
          I'm Soo Yang.
        </h1>
        <h4 class="gaegu medium-green">
          a software engineer.
        </h4>
      </div>
    </div>
  </div>
</section>

<section class="compact text-center pv-2">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        <h1 class="gaegu medium-green pt-3 pb-3">
          Hello!
        </h1>
        <p class="p-2 light-medium-green">
          I'm a web / mobile application developer based in Kuala Lumpur, Malaysia. I have a passion for programming and love to create web and mobile applications.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <div>
        <i class="fas fa-ellipsis-h fa-2x gray"></i>
      </div>
    </div>
  </div>
</div>

<section class="compact pv-2">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="p-4 dark-green font-weight-bold">
          What I can do.
        </h3>
      </div>

      <div class="col-12 col-md-4 offset-md-1 text-center pv-1">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x medium-green"></i>
          <i class="fa fa-code fa-stack-1x white"></i>
        </span>
      </div>

      <div class="col-12 col-md-7">
        <h3 class="text-center text-sm-left light-intense-green">
          Web Applications
        </h3>
        <p class="text-center text-sm-left">
          I can develop beautiful web applications rapidly using Ruby on Rails.
        </p>
      </div>

      <div class="col-12 col-md-4 order-md-last text-center top-padding">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x medium-green"></i>
          <i class="fas fa-mobile-alt fa-stack-1x white"></i>
        </span>
      </div>

      <div class="col-12 col-md-7 offset-md-1 top-padding">
        <h3 class="text-center text-sm-left light-intense-green">
          Mobile Application
        </h3>
        <p class="text-center text-sm-left">
          I can develop native apps for iOS and Android using React Native.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <div>
        <i class="fas fa-ellipsis-h fa-2x gray"></i>
      </div>
    </div>
  </div>
</div>

<section class="compact pv-2 mb-2">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-10 offset-sm-1 text-center">
          <h2 class="dark-green font-weight-bold">
            I can help.
          </h2>
          <h3 class="light-intense-green pt-1 pb-1">
            I'm currently available for freelance work.
          </h3>
          <p>
            If you like what you are seeing and would like to work together or would like to just say hi, then get in touch!
          </p>
          <a href="mailto:sooyang.code@gmail.com" class="btn btn-primary w-50" style="background-color: #48b39b; border-color: #48b39b; margin-top: 1em">
            <i class="far fa-envelope fa-2x white"></i>
          </a>
      </div>
    </div>
  </div>
</section>
