<section class="compact" style="background-color: #e0ebe8; height: 60%;">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e0ece8;">
    <a class="navbar-brand" href="#" style="font-family: Gaegu; color: #45b29a;">SY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" style="border: none">
      <i class="fas fa-bars" style="color: #45b29a"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link active" href="#" style="color: #45b29a">Home <span class="sr-only">(current)</span></a>
      </div>
    </div>
  </nav>

  <div class="container" style="height: 80%">
    <div class="row align-items-center" style="height: 80%">
      <div class="col-12 text-center">
        <h1 style="color: #45b29a; font-family: Gaegu !important">
          I'm Soo Yang.
        </h1>
        <h4 style="color: #45b29a; font-family: Gaegu !important">
          a software engineer.
        </h4>
      </div>
    </div>
  </div>
</section>

<section class="compact" style="text-align: center; padding-top: 2em; padding-bottom: 2em">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1" style="">
        <div style="margin: 0 auto;">
          <!-- <img src="../images/sy.jpg" alt="SY" style="border-radius: 100%; margin-bottom: 1em" class="img-fluid"> -->
          <h1 style="color: #45b29a; font-family: Gaegu !important; padding-horizontal: 1em; padding-top: 0.5em; padding-bottom: 0.5em">Hello!</h1>
          <p style="margin: 0 0 10px; color: #61bba7" class="p-2">
            I'm a web / mobile application developer based in Kuala Lumpur, Malaysia. I have a passion for programming and love to create web and mobile applications.
            <!-- I'm a web designer / developer based in Toronto, Canada. I have a passion for web design and love to create for web and mobile devices. -->
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-12" style="text-align: center">
      <div>
        <i class="fas fa-ellipsis-h fa-2x" style="color: #f3f2f1"></i>
      </div>
    </div>
  </div>
</div>

<section class="compact" style="padding-top: 2em; padding-bottom: 2em">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div style="margin: 0 auto; max-width: 460px; padding: 2em; text-align: center">
          <h3 style="color: #26866e" style="padding: 2em; font-weight: 900">
            What I can do.
          </h3>
        </div>
      </div>
      <div class="col-12 col-md-4 offset-md-2" style="padding-bottom: 1em; padding-top: 1em; text-align: center;">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x" style="color: #45b29a"></i>
          <i class="fa fa-code fa-stack-1x" style="color: #fff"></i>
        </span>
      </div>
      <div class="col-12 col-md-4">
        <h3 class="text-center text-sm-left" style="color: #48b39b;padding-top: 1em; padding-bottom: 1em margin: 0">Web Application</h3>
        <p class="text-center text-sm-left">I can develop beautiful web applications using Ruby on Rails</p>
      </div>

      <div class="col-12 col-md-4 order-md-last" style="padding-bottom: 1em; padding-top: 3em; text-align: center">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x" style="color: #45b29a"></i>
          <i class="fas fa-mobile-alt fa-stack-1x" style="color: #fff"></i>
        </span>
      </div>

      <div class="col-12 col-md-4 offset-md-2 " style="padding-top:3em">
        <h3 class="text-center text-sm-left" style="color: #48b39b; padding: 0 0 1em; margin: 0">Mobile Application</h3>
        <p class="text-center text-sm-left">Using React Native, I can develop native apps for iOS and Android</p>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-12" style="text-align: center">
      <div>
        <i class="fas fa-ellipsis-h fa-2x" style="color: #f3f2f1"></i>
      </div>
    </div>
  </div>
</div>

<section class="compact" style="padding-top: 2em; padding-bottom: 2em">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-10 offset-sm-1">
        <div style="margin: 0 auto; padding: 2em; text-align: center">
          <h2 style="color: #26866e" style="padding: 2em; font-weight: 900">
            I can help.
          </h2>
          <h3 style="padding-top: 1em; padding-bottom: 1em ;color: #48b39b">
            I'm currently available for freelance work.
          </h3>
          <p>
            If you have a project that you want to get started, think you need my help with something or just fancy saying hey, then get in touch.
          </p>

          <a href="sooyang.code@gmail.com" class="btn btn-primary" style="width: 50%; background-color: #48b39b; border-color: #48b39b; margin-top: 1em">
            <i class="far fa-envelope fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<footer style="background-color: #e0ebe8; height: 12%">
  <div class="container text-center" style="height: 100%">
      <div class="row align-items-center" style="height: 100%">
        <div class="col-12" style="margin-top: 1em">
          <div style="display: inline-block; margin-right: 0.5em">
            <a href="https://github.com/sooyang" class="social-icon-jump-x4 circle" target="_blank">
                <div>
                    <i class="fab fa-github-alt fa-2x" style="color: #45b29a"></i>
                </div>
            </a>
          </div>
          <div style="display: inline-block; margin-left: 0.5em">
            <a href="https://my.linkedin.com/in/sooyangtan" class="social-icon-jump-x4 circle" target="_blank">
                <div>
                    <i class="fab fa-linkedin-in fa-2x" style="color: #45b29a;"></i>
                </div>
            </a>
          </div>
          <p style="margin-top: 0.5em">2018 &copy; SOO YANG, TAN</p>
        </div>
      </div>
  </div>
</footer>
